<html dir="rtl" lang="fa-IR">

@model List<Person>
@{
    ViewData["Title"] = "مخاطب جدید";

}


<h1 style="color:purple">@ViewData["Title"]</h1>
<hr />


<h3><b>اضافه کردن مخاطب جدید</b></h3>
<form class="form" method="post" action="">

    <div class="row mb-2 p-2">
        <label class="mb-2" for="">نام:</label>
        <input class="input" type="text" name="Name" value="" />
    </div>


    <div class="row mb-2 p-2">
        <label class="mb-2" for="">شماره همراه: </label>
        <input class="input" type="tel" name="PhoneNumber" value="" />
    </div>

    <div class="row mb-2 p-2">
        <label class="mb-2" for="">ایمیل: </label>
        <input class="input" type="text" name="Email" value="" />
       
    </div>

    <div>

        <input type="submit" value="ثبت" class="submit" />
    </div>




</form>
</html>