<html dir="rtl" lang="fa-IR">

@{
    ViewData["Title"] = "Home Page";
}
<img src="~/css/decoration-star.svg" alt="" class="decorate-star position-absolute" />
<img src="~/css/decoration-star.svg" alt="" class="decorate-star-2 position-absolute" />
<div class="text-center"> 
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</html>
