@model List<Work>
@{
    ViewData["Title"] = "Form";

}

<h1 style="color:blue">@ViewData["Title"]</h1>
<hr />


<h3><b>Forms: Daily Report</b></h3>
<form class="form" method="post" action="">

    <div class="row mb-2 p-2">
        <div class="col ">
            <label for="">Enter the ID:</label>
            <input class="" type="number" name="Id" value="" />

        </div>
        <div class="col">
            <label for="">Enter your name:</label>


            <input type="text" name="Name" value="" />

        </div>


    </div>

    <div class="row mb-2 p-2">
        <div class="col ">
            <label for="">Enter the time you arrived:</label>
            <input type="time" name="From" value="" />

        </div>
        <div class="col">
            <label for=""> Enter the time you left: </label>
            <input type="time" name="Until" value="" />

        </div>

        <div class="mb-5 p-5">

            <input type="submit" value="Submit the forms" class="submit" />
        </div>


    </div>


</form>