<html dir="rtl" lang="fa-IR">

@model List<Work>
@{
    ViewData["Title"] = "فرم";

}
<img src="~/css/decoration-star.svg" alt="" class="decorate-star position-absolute" />
<img src="~/css/decoration-star.svg" alt="" class="decorate-star-2 position-absolute" />

<h1 style="color:blue">@ViewData["Title"]</h1>
<hr />


<h3><b>گزارش روزانه </b></h3>
<form class="form" method="post" action="">

    <div class="row mb-2 p-2">
        <div class="col ">

        <label class="mb-2" for="">ID:</label>
            <div class="col ">

        <input class="small-input" type="number" name="Id" value="" />
        </div>
        </div>

       <div class="col ">
        <label class="mb-2" for="">نام:</label>
            <div class="col ">
        <input class="small-input" type="text" name="Name" value="" />
        </div>
        </div>
    </div>


    <div class="row mb-2 p-2">
        <div class="col ">
            <div class="col ">

        <label class="mb-2" for="">ساعت ورود:</label>
        </div>

        <input class="small-input" type="time" name="From" value="" />
        </div>

        <div class="col ">

        <label class="mb-2" for=""> ساعت خروج: </label>
            <div class="col ">

        <input class="small-input" type="time" name="Until" value="" />
        </div>
        </div>
    </div>

        <div>

            <input type="submit" value="ثبت" class="submit" />
        </div>




</form>
</html>